[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
ipython = "*"
jupyter = "*"
jupyter_contrib_nbextensions = "*"
matplotlib = "*"
notebook = "*"
opencv-python = "*"
opencv-contrib-python = "*"
plotly = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
